.rhsComponent {
  background-color: transparent;
  color: lightseagreen;
  padding: 0 0.5em;
  height: 100%;
  cursor: pointer;
}

.rhsComponent:focus {
  outline: none;
}

.rhsComponent svg {
  fill: rgb(134, 134, 134);
}
